<header>
  <div>
    <i class="bi bi-person-fill"></i>
    <nav>
      <ul>
        <li>Home</li>
        <li>Contact</li>
        <li>About</li>
      </ul>
    </nav>
  </div>

  <button class="login">Login</button>
  <i class="bi bi-three-dots-vertical"></i>
</header>
<main>
  <form action="">
    <h2>Login</h2>
    <div class="input">
      <label for="email">Email</label>
      <input type="email" placeholder="email@example.com" />
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input type="password" />
    </div>
    <div class="buttons">
      <button>Cancel</button> <button class="login">Login</button>
    </div>
  </form>
</main>
